#bloco a {
    padding-right: 1rem;
}

#imagem {
    max-width: 20rem;
}

#bloco {
    background-color: #e9ecef;
}

.banner {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.banner video {
    position: absolute;
    /* Não acompanhar a página */ 
    top: 0px;
    left: 0;
    object-fit: cover;
    /* Cobrir toda a tela */
    width: 100%;
    height: 50%;
    pointer-events: none;
    /* evitar clicável do mouse */
}

.banner .content {
    position: relativa;
    /* Posição móvel */
    z-index: 1;
    /* Ordenação de camadas */
    max-width: 1000px;
    margin: 0 auto;
    /* Sentido horário topo é zero resto é auto */
    text-align: center;
}

.titulo {
    font-size: 2.5rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

/* Formatações de texto */

#textohagar h2{
    font-family: serif;
    font-size: 26pt;
    color: darkblue;
    text-align: center;
    text-decoration: underline;
}

#textohagar h3{
    font-family: serif;
    font-size: 18pt;
    color: darkgreen;
    text-transform: capitalize;
    letter-spacing: 3px;
}

#textohagar p{
    font-family: sans-serif;
    font-size: 10pt;
    color: black;
    text-align: justify;
    text-indent: 1.2cm;
}

#textohagar li{
    font-family: sans-serif;
    font-size: 10pt;
    color: black;
}